/* src/pages/HomeContent/HomeContent.css */

.home-content-container {
    padding: 20px; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 40px); /* Займаємо майже всю висоту екрана */
}

.home-content-container h1 {
    /* Стилі для заголовка */
    color: #f7d540; 
}

.home-hero-image {
    max-width: 70%;
    height: auto;
    margin-top: 30px;
    /* Додаткові стилі для зображення, якщо потрібно */
}