.sidebar {
    width: 280px;
    background-color: #0d0d0d;
    border-right: 1px solid #1a1a1a;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    color: #888;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.3s;
    display: flex;
    justify-content: space-between; /* Текст зліва, лого справа */
    align-items: center;
    border-bottom: 1px solid #1a1a1a;
}

/* Іконка всередині кнопки */
.menu-icon {
    width: 20px;
    height: auto;
    opacity: 0.5; /* Робимо напівпрозорою в неактивному стані */
    filter: grayscale(100%); /* Чорно-біла в неактивному стані */
}

.sidebar a:hover {
    background-color: #1a1a1a;
    color: #fff;
}

/* АКТИВНИЙ СТАН ЯК НА СКРІНШОТІ */
.sidebar a.active {
    background-color: #f7d540 !important; /* Помаранчевий/Жовтий */
    color: #000000 !important;           /* Чорний текст */
    border-left: none;                   /* Прибираємо лінію зліва, якщо була */
}

.sidebar a.active .menu-icon {
    opacity: 1;
    filter: none; /* Кольорова іконка на жовтому фоні */
}