.sidebar {
    width: 280px;
    background-color: #111;
    border-right: 1px solid #222;
    padding: 30px 0;
}

.nav-item {
    display: block;
    padding: 15px 30px;
    color: #aaa;
    text-decoration: none;
    font-size: 1rem;
    border-left: 3px solid transparent;
    transition: 0.3s;
}

.nav-item:hover, .nav-item.active {
    color: #f7d540;
    background: rgba(247, 213, 64, 0.05);
    border-left-color: #f7d540;
}